---
const { options = [], selectedValue = "", className = "", label = "", name = "" } = Astro.props;
---
<div class="w-full">
  {label && <label class="block mb-2 text-sm font-medium text-gray-700">{label}</label>}
  <select 
    name={name} 
    required 
    class={`w-full p-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-blue-500 ${className}`}
  >
    {options.map(option => (
      <option value={option.value} selected={option.value === selectedValue}>{option.label}</option>
    ))}
  </select>
</div>